@import url("reset.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,300");

:root {
    --surface-bg-color: #54BAB9;
    --surface-radius: 10px;
}

* {
    box-sizing: border-box;
}

.root {
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.header {
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-title {
    color: #E9C597;
    font-size: 32px;
    font-family: "Open Sans";
    font-weight: bold;
    line-height: 0.9;
}

.workspace {
    height: 80vh;
    padding-bottom: 100px;
    padding-left: 200px;
    padding-right: 200px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 10px;
}

.workspace-main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    gap: 10px;
}

.workspace-main-header {
    padding: 14px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.workspace-categories {
    min-width: 15vw;
    display: flex;
    flex-direction: column;
}

.workspace-categories-header {
    display: flex;
    justify-content: stretch;
    align-items: center;
    padding: 20px 0px;
    gap: 15px;
}

.workspace-categories-header-title {
    color: #F6F6F6;
    font-family: "Open Sans";
    line-height: 0.9;
    font-weight: bolder;
    font-size: 20px;
}

.workspace-categories-header-title-line {
    background: #E4E4E4;
    height: 1px;
    flex: 1;
}

.workspace-categories-header-title {
    color: #F6F6F6;
    font-family: "Open Sans";
    line-height: 0.9;
    font-weight: bolder;
    font-size: 20px;
}

.workspace-categories-body {
    flex: 1;
    overflow-y: auto;
}

.workspace-categories-body-category {
    padding: 5px 20px;
}

.workspace-categories-body-category div {
    color: #FFFFFF;
    font-family: "Open Sans";
    line-height: 0.9;
    font-weight: 100;
    font-size: 20px;
    background: #4CAF50;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.workspace-categories-footer {
    padding: 20px;
}

.workspace-main-body-container {
    overflow: hidden;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: stretch;

}

.workspace-main-body-content {
    overflow-y: auto;
    flex: 1;
}

.workspace-main-body-task-tile {
    padding: 27px 20px;
    border-bottom: 1px solid #FFFFFF;
    display: flex;
    justify-content: stretch;
    align-items: center;
    gap: 10px;
}

.workspace-main-body-task-tile-real-checkbox {
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.workspace-main-body-task-tile-custom-checkbox {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    background: white;
    border: 2px solid var(--surface-bg-color);
    border-radius: 15px;
    flex-shrink: 0;
    cursor: pointer;
    transition: 0.2s ease-in;
}

.workspace-main-body-task-tile-custom-checkbox::before {
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url(../images/check-completed.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 0.2s ease-in;
}

.workspace-main-body-task-tile-real-checkbox:checked~.workspace-main-body-task-tile-custom-checkbox::before {
    transform: translate(-50%, -50%) scale(1);
}

.workspace-main-body-task-tile-real-checkbox:checked~.workspace-main-body-task-tile-custom-checkbox {
    border-color: #4CAF50;
}

.workspace-main-body-task-tile-description {
    color: #FFFFFF;
    font-family: "Open Sans";
    line-height: 0.9;
    font-weight: 100;
    font-size: 20px;
}

.workspace-main-body-footer {
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.filter-text-button-active {
    color: #F6F6F6 !important;
    cursor: auto;
}


.surface {
    background-color: var(--surface-bg-color);
    box-shadow: 0px 5px #38938a;
    border-radius: 10px;
    overflow: hidden;
}


.button-surface {
    background-color: #38938A;
    border-radius: 10px;
    padding: 6px 30px;   
    color: #F6F6F6;
    font-family: "Open Sans";
    line-height: 0.9;
    font-weight: bolder;
    font-size: 20px;
    cursor: pointer;
}


.button-text {
    color: #1D8A8A;
    cursor: pointer;
    font-family: "Open Sans";
    font-weight: bold;
    line-height: 0.9;
    font-size: 20px;
}

