@import url("reset.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,300");

* {
    box-sizing: border-box;
}

.root {
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.header {
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-title {
    color: #E9C597;
    font-size: 32px;
    font-family: "Open Sans";
    font-weight: bold;
    line-height: 0.9;
}

.workspace {
    height: 80vh;
    padding-bottom: 100px;
    padding-left: 200px;
    padding-right: 200px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 10px;
}

.workspace-main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    gap: 10px;
}

.workspace-main-body-container {
    overflow: hidden;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: stretch;

}

.workspace-main-body-content {
    overflow-y: auto;
    flex: 1;
}

.workspace-main-body-task-tile {
    padding: 27px 20px;
    border-bottom: 1px solid #FFFFFF;
    display: flex;
    justify-content: stretch;
    align-items: center;
    gap: 10px;
}


.workspace-main-body-task-tile-real-checkbox {
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.workspace-main-body-task-tile-custom-checkbox {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    background: white;
    border: 2px solid #4CAF50;
    border-radius: 15px;
    flex-shrink: 0;
    cursor: pointer;
}

.workspace-main-body-task-tile-custom-checkbox::before {
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url(../images/check-completed.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 0.2s ease-in;
}

.workspace-main-body-task-tile-real-checkbox:checked~.workspace-main-body-task-tile-custom-checkbox::before {
    transform: translate(-50%, -50%) scale(1);
}


.surface {
    background-color: #38938A;
}

